psutil
numpy>=2.0
pandas>=2.2.0,<3.0    # Cap at 2.2.x; Pandas 3.0 is too new for datareader
openpyxl
xarray
numbagg
xarray-einstats==0.9.1
scikit-learn
matplotlib
plotly
yfinance>=0.2.59
streamlit
dask[complete]
arraylake[icechunk,xarray,virtual]
pandas_datareader==0.10.0