ipython
numpy     # for xarray
pandas    # for xarray
openpyxl  # for pandas excel
jinja2    # for pandas styler
xarray
numbagg   # for xarray rolling_exp
matplotlib
plotly
kaleido==0.1.* # for plotly png (downgraded for bug fix)
nbformat  # for plotly notebook
yfinance
streamlit